.Rproj.user
.Rhistory
.RData
**/.DS_Store
.DS_Store
.Ruserdata
*sklearn*
*asv.nwk*
*id.nwk*
*seqs.fna.qza
**/demux.qza
*.fastq
*.sra
**/demux-trimmed.qza
**/QiimeData/*.qza
**/QiimeData/*.qzv
**/QiimeData/*.fasta

